# Ignore the data directory
/data

# Ignore the virtual environment directory
/wc-predictor

# Ignore Python cache files
/src/__pycache__
/src/data/__pycache__
/src/features/__pycache__
/src/predictor/__pycache__
/src/bracket/__pycache__
/src/simulator/__pycache__

/tests/__pycache__